@keyframes pluse-border {
    from {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes load {
    0% {
        transform: rotate(0) ;
    }
    50% {
        transform: rotate(180deg) ;
    }
    100% {
        transform: rotate(360deg);
    }
}