section.details-2#details-2
    .container
        .row
            //- Grid 6/12 In Screen Large
            .col-lg-6
                .image-container
                    img(src="image/details-2-office-team-work.svg", alt="").img-fluid

            //- Grid 6/12 in Screen Large
            .col-lg-6
                .text-container
                    h2.font-weight-bold.head-color Search For Optimization Wherever Is Possible
                    ul.list-unstyled
                        li.mb-2
                            i.fas.fa-check.main-color.mr-2
                            |  Basically we'll teach you step by step what you need to do
                        li.mb-2
                            i.fas.fa-check.main-color.mr-2
                            |  In order to develop your company and reach new heights
                        li.mb-2
                            i.fas.fa-check.main-color.mr-2
                            |  Everyone will be pleased from stakeholders to employees
                    button(class='btn lightbox' data-target="#mfb-Container" data-image-src='image/details-lightbox-2.svg') lightbox
