section.details-1#details-1
    .container
        .row
            //- Grid 6/12 in Screen Large
            .col-lg-6
                .text-container
                    h2.font-weight-bold.head-color Design And Plan Your Business Growth Steps
                    p Use our staff and our expertise to design and plan your business growth strategy. Evolo team is eager to advise you on the best opportunities that you should look into
                    button(class='btn lightbox' data-target="#mfb-Container" data-image-src='image/details-lightbox-1.svg') lightbox

            //- Grid 6/12 In Screen Large
            .col-lg-6
                .image-container
                    img(src="image/details-1-office-worker.svg", alt="").img-fluid

