footer.footer
    .container
        //- Start Row
        .row
            //- Start Col
            .col-md-4
                .footer-col
                    h4.font-weight-bold.head-color.footer-title About Evolo
                    p.subtitle We're passionate about offering some of the best business growth services for startups
            //- Start Col
            .col-md-4
                .footer-col
                    h4.font-weight-bold.head-color.footer-title Important Links
                    ul.list.list-unstyled 
                        li.list-item Our business partners
                            a(href="#").main-color  startupguide.com
                        li.list-item Read our
                            a(href="terms-conditions.html").main-color  Terms & Conditions
                            | ,
                            a(href=" privacy-policy.html").main-color  Privacy Policy
            //- Start Col
            .col-md-4
                .footer-col
                    h4.font-weight-bold.head-color.footer-title Social Media
                    .social
                        a(href="#").icon
                            i.fab.fa-facebook-f
                        a(href="#").icon
                            i.fab.fa-twitter
                        a(href="#").icon
                            i.fab.fa-google-plus-g
                        a(href="#").icon
                            i.fab.fa-instagram
                        a(href="#").icon
                            i.fab.fa-linkedin-in

        //- Start Copyright
        p.copyright.text-center
            | Copyright © 2020 
            a(href="#") Inovatik 
            |  - All rights reserved