//- Start Header
header.header#home
    .container
        .row
            .col-lg-6
                .content-text.text-center.text-lg-left
                    h1.head-color 
                        span.main-color StartUp Landing
                        |  Page Template Free
                    p Use Evolo free landing page template to promote your business startup and generate leads for the offered services
                    a(href='#services').btn.link discover 

            .col-lg-6
                .content-image
                    img(src="image/header-teamwork.svg", alt="svg headr").img-fluid

//- End Header