section.pricing.text-center#pricing
    .container
        //- Head Section
        .head-section
            h2.font-weight-bold.head-color Multiple Pricing Options
            p.p-heading We've prepared pricing plans for all budgets so you can get started right away. They're great for small companies and large organizations
        //- Start Grid
        .row
            //- Strat Col
            .col-lg-4
                .card.m-auto
                    .card-head
                        h3.font-weight-bold.head-color.card-title STARTER
                        p.card-subtitle Just to see what can be achieved
                    .card-price
                        .price.main-color.mb-2
                            span.currency.mr-1 $
                            span.value.font-weight-bold 199
                        p.frequency.mb-2 monthly
                    .card-body.text-left
                        ul.list-unstyled.list
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  Improve Your Email Marketing
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  User And Admin Rights Control
                            li.list-item 
                                i.fas.fa-times.mr-2
                                |  List Building And Cleaning
                            li.list-item 
                                i.fas.fa-times.mr-2
                                |  Collected Data Management
                            li.list-item 
                                i.fas.fa-times.mr-2
                                |  More Planning And Evaluation
                    a(href="#request").btn.link request
            //- End Col
            //- Strat Col
            .col-lg-4
                .card.m-auto
                    .card-head
                        h3.font-weight-bold.head-color.card-title MEDIUM
                        p.card-subtitle Very appropriate for the short term
                    .card-price
                        .price.main-color.mb-2
                            span.currency.mr-1 $
                            span.value.font-weight-bold 299
                        p.frequency.mb-2 monthly
                    .card-body.text-left
                        ul.list-unstyled.list
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  Improve Your Email Marketing
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  User And Admin Rights Control
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  List Building And Cleaning
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  Collected Data Management
                            li.list-item 
                                i.fas.fa-times.mr-2
                                |  More Planning And Evaluation
                    a(href="#request").btn.link request
            //- End Col
            //- Strat Col
            .col-lg-4
                .card.m-auto
                    .card-head
                        h3.font-weight-bold.head-color.card-title COMPLETE
                        p.card-subtitle Must have for large companies
                    .card-price
                        .price.main-color.mb-2
                            span.currency.mr-1 $
                            span.value.font-weight-bold 399
                        p.frequency.mb-2 monthly
                    .card-body.text-left
                        ul.list-unstyled.list
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  Improve Your Email Marketing
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  User And Admin Rights Control
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  List Building And Cleaning
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  Collected Data Management
                            li.list-item 
                                i.fas.fa-check.mr-2
                                |  More Planning And Evaluation
                    a(href="#request").btn.link request
                    .label
                        p.best-value.text-capitalize best value
            //- End Col