section.services.text-center#services
    .container
        //- Head Section Label
        .head-section.mb-5
            h2.font-weight-bold.text-capitalize.mb-3.head-color Business Growth Services
            p.p-heading We serve small and medium sized companies in all tech related industries with high quality growth services which are presented below
        
        //- Grid System 3 Cards 
        .row
            //- Grid Card
            .col-lg-4
                .card
                    .icon
                        img(src="image/services-icon-1.svg", alt="services-icon").img-fluid
                    .card-body
                        h4.font-weight-bold.head-color.mb-3 Market Analysis
                        p Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors
            //- Grid Card
            .col-lg-4
                .card
                    .icon
                        img(src="image/services-icon-2.svg", alt="services-icon").img-fluid
                    .card-body
                        h4.font-weight-bold.head-color.mb-3 Opportunity Scan
                        p Once the market analysis process is completed our staff will search for opportunities that are in reach
            //- Grid Card
            .col-lg-4
                .card
                    .icon
                        img(src="image/services-icon-3.svg", alt="services-icon").img-fluid
                    .card-body
                        h4.font-weight-bold.head-color.mb-3 Action Plan
                        p With all the information in place you will be presented with an action plan that your company needs to follow