section.team.text-center#about
    .container
        //- Start Head Section
        .head-section
            h2.font-weight-bold.head-color.text-capitalize About The Team
            p.p-heading Meat our team of specialized marketers and business developers which will help you research new products and launch them in new emerging markets

        //- Start Row
        .row
            //- Start Col
            .col-md-6.col-lg-3
                //- Start Team Member
                .team-member.text-capitalize
                    .team-image
                        img(src="image/team-member-1.svg", alt="team-member")
                    .team-info
                        h5.font-weight-bold.team-name Lacy Whitelong
                        p.job-title Business Developer
                        .social-icon
                            a(href="#"): i.fab.fa-facebook-f
                            a(href="#"): i.fab.fa-twitter
            //- Start Col
            .col-md-6.col-lg-3
                //- Start Team Member
                .team-member.text-capitalize
                    .team-image
                        img(src="image/team-member-2.svg", alt="team-member")
                    .team-info
                        h5.font-weight-bold.team-name Chris Brown
                        p.job-title Online Marketer
                        .social-icon
                            a(href="#"): i.fab.fa-facebook-f
                            a(href="#"): i.fab.fa-twitter
            //- Start Col
            .col-md-6.col-lg-3
                //- Start Team Member
                .team-member.text-capitalize
                    .team-image
                        img(src="image/team-member-3.svg", alt="team-member")
                    .team-info
                        h5.font-weight-bold.team-name Sheila Zimerman
                        p.job-title Software Engineer
                        .social-icon
                            a(href="#"): i.fab.fa-facebook-f
                            a(href="#"): i.fab.fa-twitter
            //- Start Col
            .col-md-6.col-lg-3
                    //- Start Team Member
                    .team-member.text-capitalize
                        .team-image
                            img(src="image/team-member-4.svg", alt="team-member")
                        .team-info
                            h5.font-weight-bold.team-name Mary Villalonga
                            p.job-title Product Manager
                            .social-icon
                                a(href="#"): i.fab.fa-facebook-f
                                a(href="#"): i.fab.fa-twitter
