section.trusted-by#trusted-by
    .head-sction.text-center.text-capitalize.mb-3
        h5.font-weight-bold.head-color Trusted By
    .container
        .swiper-container 
            .client-container.swiper-wrapper
                //- Client
                .client.swiper-slide.pl-4.pr-3
                    img(src="image/customer-logo-1.png", alt="customer logo").img-fluid
                //- Client
                .client.swiper-slide.pl-3.pr-3
                    img(src="image/customer-logo-2.png", alt="customer logo").img-fluid
                //- Client
                .client.swiper-slide.pl-3.pr-3
                    img(src="image/customer-logo-3.png", alt="customer logo").img-fluid
                //- Client
                .client.swiper-slide.pl-3.pr-3
                    img(src="image/customer-logo-4.png", alt="customer logo").img-fluid
                //- Client
                .client.swiper-slide.pl-3.pr-3
                    img(src="image/customer-logo-5.png", alt="customer logo").img-fluid
                //- Client
                .client.swiper-slide.pl-3.pr-4
                    img(src="image/customer-logo-6.png", alt="customer logo").img-fluid
