.video-modal#video-modal 
    .hide(data-target='#video-modal') 
    .container 
        iframe( class ='stop-video' width="560" height="315" src="https://www.youtube.com/embed/Oa9aWdcCC4o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)