section.video.text-center#video
    .container
        //- Start Head Section
        .head-section
            h2.text-capitalize.head-color Check Out The Video

        //- Start Row
        .row
            //- Start Col
            .col-lg-12
                .image-container
                    a(href="#video-modal" class='show-video')
                        img(src="image/video-frame.svg", alt="video-frame")
                        span.video-play
                            span.icon

        //- Start Row
        .row
            //- Start Col
            .col-lg-12
                .head-section
                    p.p-heading
                        | This video will show you a case study for one of our 
                        span.font-weight-bold  Major Customers 
                        | and will help you understand why your startup needs Evolo in this highly competitive market
